.iconButton {
  --size: 1.8em;

  appearance: none;
  background: none;
  border: 0;

  display: inline-block;
  border-radius: 100%;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  text-align: center;

  color: var(--fg-color);
  font-family: var(--font-family);
}

.iconButton:hover {
  background-color: var(--hover-color);
}

.iconButton:active {
  background-color: var(--active-color);
  transform: scale(0.8);
  transform-origin: center center;
}

.internal,
.external {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0 0.58rem;
  /* background-color: rgba(255, 255, 255, 0.3); */
}

.section.active {
}

.section:hover {
  background-color: red;
}

.section + .section {
  border-left: 1px solid var(--fg-color);
}

.external {
  gap: 0.5rem;
}

.icon-button {
  font-size: 1.2rem;
}
