.icon-button {
  --size: 2rem;

  appearance: none;
  background: none;
  border: 0;

  display: inline-flex;
  border-radius: 100%;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  text-align: center;
  align-items: center;
  justify-content: center;

  color: var(--fg-color);
  font-family: var(--font-family);
}

.icon-button:hover {
  background-color: var(--hover-color);
}

.icon-button:active {
  background-color: var(--active-color);
  transform: scale(0.8);
  transform-origin: center center;
}
