.interaction-feedback {
  display: inline-block;
  border-radius: 3px;
  padding: 0.3rem;

  transition-duration: var(--animation-duration);
  transition-timing-function: ease-out;
  transition-property: transform, background-color;

  &:hover {
    background-color: var(--interactive-bg-color);
    transform-origin: center center;
    transform: scale(1.1) rotate(var(--rotation));
  }
}
