@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Code+Pro:wght@200&display=swap');
@import '../node_modules/remixicon/fonts/remixicon.css';

@import './styles/reset.css';
@import './styles/icon-button.css';
@import './styles/interaction-feedback.scss';

@import './chunks/Header.scss';
@import './chunks/Navigation.scss';

@import './components/Menu.scss';
@import './components/TagList.scss';
@import './components/Translatable.scss';

@import './entities/JobPosition.scss';

html {
  --bg-color: black;
  --interactive-bg-color: orange;
  --fg-color: rgba(255, 255, 255, 0.7);
  --link-color: white;

  --font-family: 'Source Code Pro', monospace;
  --secondary-font-family: 'Open Sans', sans-serif;

  --animation-duration: 0.2s;
  --rotation: 2deg;
  --page-margin: 1rem;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--fg-color);
  line-height: 1.5em;
  padding: var(--page-margin);
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

a {
  // reset
  font-family: var(--secondary-font-family);
  color: var(--link-color);
  text-decoration: none;
}
