@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import './reset.css';
@import './i18n.css';
@import './header.css';
@import './controls.css';

body {
  --overflow-bg-color: #181a1b;
  --bg-color: #0f0f0f;
  --fg-color: #bcabae;
  --primary-color: #fbfbfb;

  /* --font-family: 'Courier New', Courier, monospace; */
  --font-family: 'Source Code Pro', monospace; /*, 'Helvetica', 'Arial', sans-serif;*/
  --max-width: 50rem;

  background-color: var(--overflow-bg-color);
  font-family: var(--font-family);
  line-height: 1.5;
}

.container {
  position: relative;
  background-color: var(--bg-color);
  color: var(--fg-color);
  max-width: var(--max-width);
  height: 100vh;
  padding: 1rem;
  margin: 0 auto;
  overflow: auto;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

.container a {
  color: var(--fg-color);
  text-decoration: none;
  font-weight: bold;
}
